.slideInRight{
    animation: slideInRight 0.5s forwards;
    animation-timeline: view();
}

@keyframes autoFadeIn {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}


@keyframes glowing{
  0%{
    box-shadow: 0 0 50px 0 rgba(255, 200, 0, 0.5)
  }
  25%{
    box-shadow: 0 0 50px 0 rgba(255, 0, 0, 0.5);
  }
  50%{
    box-shadow: 0 0 50px 0 rgba(163, 47, 4, 0.5);
  }
  75%{
    box-shadow: 0 0 50px 0 rgba(166, 0, 255, 0.5)
  }
  100%{
    box-shadow: 0 0 50px 0 rgba(255, 166, 0, 0.5)
  }
}


@keyframes slideRight{
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-121px);
  }
}

@keyframes slideLeft{
  from {
    transform: translateX(-121px);
  }
  to {
    transform: translateX(0);
  }
}

.loader {
  width: 3vh;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}