.slideInRight{
    animation: slideInRight 0.5s forwards;
    animation-timeline: view();
}

/* @keyframes slideInRight {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
} */

@keyframes autoFadeIn {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}


@keyframes glowing{
  0%{
    box-shadow: 0 0 50px 0 rgba(255, 200, 0, 0.5)
  }
  25%{
    box-shadow: 0 0 50px 0 rgba(255, 0, 0, 0.5);
  }
  50%{
    box-shadow: 0 0 50px 0 rgba(163, 47, 4, 0.5);
  }
  75%{
    box-shadow: 0 0 50px 0 rgba(166, 0, 255, 0.5)
  }
  100%{
    box-shadow: 0 0 50px 0 rgba(255, 166, 0, 0.5)
  }
}


@keyframes slideRight{
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-121px);
  }
}

@keyframes slideLeft{
  from {
    transform: translateX(-121px);
  }
  to {
    transform: translateX(0);
  }
}