.highlight-product-container {
    display: flex;
    gap: var(--3xl);
    justify-content: center;
    align-items: flex-start;
    padding: var(--3xl);
    padding-top: 20vh;

    .highlight-product-imgs {
        width: 34vw;
        height: auto;
        aspect-ratio: 1/1;
        position: relative;

        .img-caroussel {
            width: 100%;
            height: 100%;
            display: flex;
            overflow-x: hidden;
            scroll-behavior: smooth;
            list-style: none;
            padding: 0;
            margin: 0;

            .img-container {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
                z-index: 1;
                left: 0;
                top: 0;
                flex-shrink: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.3s ease;
                }
            }
        }

        .arrow-container {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 var(--m);
            pointer-events: none; /* Container selbst klickt nicht */
            z-index: 10;
            height: 100%;

            button {
                pointer-events: auto; /* Buttons bleiben klickbar */
                border: none;
                border-radius: 50%;
                background-color: transparent;
                width: var(--3xl);
                height: var(--3xl);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: var(--l);
            }

            .button:hover {
                transform: scale(1.05)
            }
        }
    }

    .highlight-product-info {
        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        gap: var(--xl);

        .product-name {
            font-size: var(--3xl);
            font-weight: bold;
            .artnr {
                font-size: var(--xxl);
                color: rgba(0, 0, 0, 0.3);
            }
        }

        .product-description {
            font-size: var(--xl);
            padding-bottom: var(--s);
        }

        .product-price {
            font-size: var(--xxl);
            font-weight: bold;
        }

        .text {
            font-size: var(--l);
        }

        .addToCart {
            background-color: white;
            color: rgba(0, 0, 0, 0.3);
            border: 1px solid rgba(0, 0, 0, 0.3);
            padding: var(--s) var(--m);
        }

        .buyNow {
            background-color: black;
            color: white;
            border: 1px solid black;
            padding: var(--s) var(--m);
        }

        .buyNow,
        .addToCart {
            transition: transform 0.3s ease;
            font-size: var(--m);
        }

        .buyNow:hover,
        .addToCart:hover {
            transform: scale(1.05);
        }
    }
}
